

/********************/
/* Gradient classes */
/********************/
.green {
    background: linear-gradient(135deg, rgba(210, 255, 82, 1) 0%, rgba(210, 255, 82, 1) 24%, rgba(145, 232, 66, 1) 100%);
}

.yellow {
    background: linear-gradient(135deg, rgba(241, 231, 103, 1) 0%, rgba(254, 182, 69, 1) 100%);
}

.pink {
    background: linear-gradient(135deg, rgba(250, 160, 236, 1) 0%, rgba(242, 61, 148, 1) 100%);
}

.orange {
    background: linear-gradient(135deg, rgba(250, 245, 160, 1) 0%, rgba(219, 85, 37, 1) 100%);
}

.blue {
    background: linear-gradient(135deg, rgba(160, 193, 250, 1) 0%, rgba(40, 217, 240, 1) 100%);
}

.purple {
    background: linear-gradient(135deg, rgba(235, 233, 249, 1) 0%, rgba(193, 191, 234, 1) 100%);
}

.white {
    background: linear-gradient(135deg, rgba(204,249,251,1) 0%, rgba(255,255,255,1) 100%);
}

/*---------------------*/
/*    HTML ELEMENTS    */
/*---------------------*/
@font-face {
    font-family: VagRounded;
    src: url("../fonts/vagroundedstd-bold-webfont.woff") format("woff");
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 1.1rem;
}

h1, h2, h3 {
    font-family: VagRounded, sans-serif;
}

h1 {
    text-transform: lowercase;
    color: #44c8f5;
    font-size: 2.2rem;
}

img {
    width: 100%;
}

strong {
    font-weight: bold;
}

a {
    display: inline-block;
    text-decoration: none;
    color: #a39e9e;
}
/*---------------------*/
/* CONTAINING ELEMENTS */
/*---------------------*/
.flexContainer {
    display: flex;
}

.curriculumBuilderNavigationLinks {
    color: #fff;
    background-color: #44c8f5;
    font-family: VagRounded, sans-serif;
    padding: 1%;
    border-radius: 0.2rem;
    margin-bottom: 2%;
}

header {
    margin-bottom: 2%;
}

header .flexContainer {
    justify-content: space-between;
    align-items: center;
    padding: 1% 2%;
    background-color: rgba(30,35,39,0.9);
}

header h2 {
    color: rgba(255,255,255,0.7);
    font-size: 1rem;
}

main.flexContainer {
    justify-content: space-between;
}

main .leftAlignedContent {
    width: 80%;
    margin-right: 3rem;
    margin-left: 3%;
}

main .leftAlignedContent p {
    margin-bottom: 0.8%;
    color: #a39e9e;
}

main .rightAlignedContent {
    width: 12%;
    text-align: center;
    background-color: #44c8f5;
    color: #fff;
}

.introduction h2 {
    font-size: 2rem;
    margin-bottom: 2%;
    background-image: url("../media/curriculum.svg");
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 4%;
}

.introduction p a {
    color: #000;
    background-color: #f5f2b6;
    padding: 0.3% 0;
}

section>h2 {
    font-size: 2rem;
    margin-bottom: 2%;
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 4%;
}

.personalData h2 {
    background-image: url("../media/personal-data.svg");
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 1% 0;
}



